@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	 -moz-border-radius: $radius;
	  -ms-border-radius: $radius;
		border-radius: $radius;
}

@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";


/* Mixin for setting Bootstrap setting using html5 terms.  Some pages changes in page specific. */
article{
	@include make-row();
	.main {
		@include make-xs-column(12);
		@include make-sm-column(8);
		@include make-md-column(8);
	}
	aside {
		@include make-xs-column(12);
		@include make-sm-column(4);
		@include make-md-column(4);
	}
	.full {
		@include make-xs-column(12);
	}
	.half {
		@include make-xs-column(6);
	}
	.fourth {
		@include make-xs-column(12);
		@include make-md-column(3);
	}
	.fiveOfSeven {
		@include make-xs-column(12);
		@include make-md-column(5);
	}
	.sevenOfFive {
		@include make-xs-column(12);
		@include make-md-column(7);
	}
}
