@import "_mixins.scss";
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

.homeBody {
	.jumbotron {
		background-image: url(../images/FranklinVsZeus.jpg);
		background-position: center;
		background-repeat: no-repeat;
			.darkLayer {
				margin-top: 150px;
			}
			h1 {
				margin-top: 0px;
				padding-top:15px;
			}
			p {
				font-weight: bolder;
			}
	}
}

.home-grid {
	h6 {
		border: 3px solid black;
		padding: 50px 30px;
		background: RGB(196,236,255);
		font-size: 16px;
		text-align: center;
		box-shadow: 10px 10px 5px #888888; 
		@include border-radius(10px);
	}
	a {
		color: black;
		text-decoration: none;
	}
}


.htmlBody {
	.jumbotron {
		background-image: url(../images/RooseveltVsBigfoot.jpg);
		background-position: center;
			h1 {
				margin-top: 2em;
				color: white;
			}
			p {
				color: white;
			}
	}
	.main {
		h1, h3 {
			margin-top: 0px;
		}
	}
	.shyText {
		padding: 10px 100px 10px 100px;
	}
	header {
		margin-left: 30px;
		margin-right: 30px;
	}
	pre {
		margin: 10px 100px 10px 100px;
	}
	.matchPicHeight {
		min-height: 177px;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.container-fluid{
		div {
			margin-top: 10px;
		}
	}
	@media(min-width: $screen-tablet){
		.jumbotron {
			h1 {
				margin-top: 4em;
			}
		}
	}
}

.javascriptBody {
	.jumbotron {
		background-image: url(../images/JFKAlienHunter.jpg);
		background-position: center;
			h1 {
				margin-top: 50px;
				color: white;
			}
			p {
				color: white;
			}
	}
	button {
		margin-bottom: 20px;
	}
	.red {
		color: red;
		background-color: black;
	}
	.white {
		background-color: DarkGray;
		color: white
	}
	@media(min-width: $screen-tablet){
		.jumbotron {
			h1 {
				margin-top: 230px;
			}
		}
	}
}

.cssBody {
	.jumbotron {
		background-image: url(../images/Cinton.jpg);
		background-position: center;
		padding-bottom: 20px;
			.darkLayer {
				margin-top: 80px;
				h1 {
					color: white;
					margin-top: 15px;
					padding: 0px 10px;
				}
			}
			p {
				color: white;
			}
	}
	.main {
		@include make-sm-column-pull(4);
	}
	aside {
		@include make-sm-column-push(8);
	}

	#background {
		position: absolute;
		font-size: 9em;
		margin: 0px;
		padding: 0px;
		@media(min-width: $screen-tablet){
			font-size: 20em;
		}
		text-shadow: 4px 5px 10px #666;
		opacity: .10;
		filter: dropshadow(color=#666, offx=4, offy=5);
		transform:rotate(12deg);
		-ms-transform:rotate(12deg); /* IE 9 */
		-webkit-transform:rotate(12deg); /* Safari and Chrome */
		top: 0;
		left: 0;
		right: 50;
		z-index: -1;
		overflow: hidden;
	}

	#background2 {
		position: absolute;
		font-size: 9em;
		margin: 0px;
		padding: 0px;
		@media(min-width: $screen-tablet){
			font-size: 20em;
		}
		text-shadow: 4px 5px 10px #666;
		opacity: .10;
		filter: dropshadow(color=#666, offx=4, offy=5);
		transform:rotate(-12deg);
		-ms-transform:rotate(-12deg); /* IE 9 */
		-webkit-transform:rotate(-12deg); /* Safari and Chrome */
		top: 600px;
		left: 20px;
		z-index: -1;
		overflow: hidden;
	}

	/* This is for styling the aside in the CSS Page */
	@media(min-width: $screen-tablet){	
		aside {
			overflow: auto;
			min-height: 600px;
			max-height: 1500px;
		}
		.jumbotron {
			.darkLayer {
				margin-top: 280px;
			}
		}
	}
}

.SassBody {
	h3 {
		text-align: center;
		font-size: 110px;
	}
	.jumbotron {
		background-image: url(../images/Sasquatch.jpg);
		background-position: center;
		h1 {
			color: #990909;
			margin-top: 60px;
		}
		p {
			color: #990909;
			font-weight: 600;
		}
	}
	.main {
		button {
			width: 49%;
			height: 50px;
			margin-bottom: 10px;
			font-size: 30px;
			@include buttonColor(#FFFFFF, #990909, #ff0000);
			@include border-radius(10px);
			&:hover {
				border-top-color: #000;
				background: #000;
			}
			&:active {
  				border-top-color: #030303;
   				background: #030303;
  			}
  			&:focus {
  				outline: none; //Not worrried about accessibility.
  			}
		}
	}
	@media(min-width: $screen-tablet){
		h3 {
			font-size: 130px;
		}
		.jumbotron {
			h1 {
				margin-top: 180px;
			}
		}
	}
}

.phpBody {
	.jumbotron {
		background-image: url(../images/ObamaLionKing.jpg);
		background-position: center;
			padding-bottom: 20px;
			.lightLayer {
				margin-top: 120px;
				h1 {
					margin-top: 15px;
					padding-top: 0px;
					padding-bottom: 0px;
				}
			}
	}
	aside {
		li {
			list-style-type: none;
		}
		ul li ul li {
			list-style-type: disc;
		}
	}
	@media(min-width: $screen-tablet){
		.jumbotron {
			.lightLayer {
				margin-top: 250px;
			}
		}
	}
}

.MySQLBody {
	.jumbotron {
		background-image: url(../images/GWVZombies.jpg);
		background-position: center;
			.lightLayer {
				margin-top: 100px;
				h1 {
					margin-top: 15px;
					padding-top: 0px;
					padding-bottom: 0px;
				}
			}
	}
	@media(min-width: $screen-tablet){
		.jumbotron {
			.lightLayer {
				margin-top: 220px;
			}
		}
	}
}

$jasmineYellow: #FBDE7E;
$jasmineBlue: #ADD8E6;

.JasmineBody {
	.jumbotron {
		background-image: url(../images/Jasmine.jpg);
		background-position: right;
		padding: 150px 0px 10px 0px;
		.lightLayer {
			h1 {
				padding: 0px 0px 0px 10px;
			}
		}
		h1 {
			text-align: left;
			margin-left: 20px;
			font-size: 18px;
		}
		p {
			text-align: left;
			margin-left: 20px;
			font-size: 10px;
		}
	}
	h3 {
		text-align: center;
	}
	.fourth{
		h3 {
			text-align: left;
			padding-left: 20px;
		}
	} 
	.blue {
		background-color: $jasmineBlue;
		.example2, .example {
			background-color: lighten($jasmineBlue, 5%);
		}		
	}
	.yellow {
		background-color: $jasmineYellow;
		.example2, .example {
			background-color: lighten($jasmineYellow, 5%);
		}
	}
	.sameList {
		ul {
			margin-bottom: 0px;
		}
	}
	@media(min-width: $screen-tablet){
		.jumbotron { // Not working for some reason.
			padding: 330px 0px 10px 0px;
			h1 {
				font-size: 36px;
			}
			p {
				font-size: 21px;
			}
		}
		.rts{
			height: 100px;
			position: relative;
			h3 {
				position: absolute; 
				top: 50%;
				margin-top: -26px;
			}
		}
		.rtlist{
			padding-top: 10px;
			min-height: 100px;
		}
		.sameList {
			ul {
				margin-bottom: 10px;
			}
		}
		#break:before{
			content: $myLineBreak;
			white-space: pre;
		}
	}
}

.SeleniumBody {
	.jumbotron {
		background-image: url(../images/abe_grizzly.jpg);
		background-position: center;
			h1 {
				color: white;
				margin-top: 80px;
			}
			p {
				color: white;
			}
	}
	@media(min-width: $screen-tablet){
		.jumbotron {
			h1 {
				margin-top: 180px;
			}
		}
	}
}

.protractorBody {
	.jumbotron {
		background-image: url(../images/NixonVSaber.jpg);
		background-position: center;
		.lightLayer {
			margin-top: 80px;
			h1 {
				margin-top: 15px;
				padding: 0px 15px;
			}
		}
	}
	table, th, td {
		border: 1px solid black;
	}
	td, th {
		text-align: center;
	}
	th, caption {
		background-color: #FFFFF0;
	}
	caption {
		border-top: 1px solid black;
		border-right: 1px solid black;
		border-left: 1px solid black;
		font-weight: bolder;
	}
	@media(min-width: $screen-tablet){
		.lightLayer {
			margin-top: 300px;
		}
		.proFixed {
			position: fixed;
			top: 70px;
			width: 750px;
			left: 50%;
			margin-left: 125px;
		}
	}
	@media(min-width: $screen-desktop){
		.proFixed {
			position: fixed;
			top: 70px;
			width: 900px;
			left: 50%;
			margin-left: 150px;
		}
	}	
}

.owaspBody {
	.jumbotron {
		background-image: url(../images/ReaganVeloc.jpg);
		background-position: center;
			h1 {
				color: white;
				margin-top: 1em;
			}
			p {
				color: white;
			}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	@media(min-width: $screen-tablet){
		h1 {
			margin-top: 4em;
		}
	}
}

.sqlmapBody {
	.jumbotron {
		background-image: url(../images/SQLMap.jpeg);
		background-position: center;
			h1 {
				color: white;
				margin-top: 180px;
			}
			p {
				color: white;
			}
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

.gitBody {
	.jumbotron {
		background-image: url(../images/Octocat.jpg);
		background-position: center;
			h1 {
				color: white;
				margin-top: 180px;
			}
			p {
				color: white;
			}
	}
	@media(min-width: $screen-phone){
		.proFixed {
			position: fixed;
			top: 70px;
			left: 0px;
			width: 30%;
		}
		.main {
			margin-left: 30%;
		}
	}
	@media(min-width: $screen-tablet){
		aside{
			a {
				font-size: 2em;
			}
		}
	}
	@media(min-width: $screen-desktop){

	}	

}

.terminalBody {
	header {
		padding-top: 40px;
		color: #63DE01;
		h1 {
			font-size: 3em;
		}
	}
	background-color: #000;
	color: #63DE01;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	.example, .example2 {
		background-color: #000;
		border: dashed 1px #e5e5e5;
		color: #63DE01;
		padding-right: 5px;
		padding-left: 5px;
	}
	.keypress {
		color: #e7e7e7;
	}
	.footer {
		color: #63DE01;
	}
	@media(min-width: $screen-tablet){
		h1{
			font-size: 7em;
		}
	}
}

.ardBody {
	header {
		margin-top: 40px;
	}
	.main {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
	}
	.background {
		background-image: url(../images/ARD.jpg);
		background-position: center;
		background-repeat: no-repeat;

	}
	.lightLayer{
		opacity: .9;
	}
}




