@import "_mixins.scss";

.homeBody {
	.jumbotron {
		background-image: url(../images/FranklinVsZeus.jpg);
		background-position: center;
		background-repeat: no-repeat;
			h1 {
				margin-top: 150px;
			}
			p {
				font-weight: bolder;
			}
	}
}

.home-grid {
	h6 {
		border: 3px solid black;
		padding: 50px 30px;
		background: RGB(196,236,255);
		font-size: 16px;
		text-align: center;
		box-shadow: 10px 10px 5px #888888; 
		@include border-radius(10px);
	}
	a {
		color: black;
		text-decoration: none;
	}
}


.htmlBody {
	.jumbotron {
		background-image: url(../images/RooseveltVsBigfoot.jpg);
		background-position: center;
			h1 {
				margin-top: 2em;
				color: white;
			}
			p {
				color: white;
			}
	}
	.main{
		margin-left: 40px;
	}
}

.javascriptBody {
	.jumbotron {
		background-image: url(../images/JFKAlienHunter.jpg);
		background-position: center;
			h1 {
				margin-top: 230px;
				color: white;
			}
			p {
				color: white;
			}
	}
}

.cssBody {
	.jumbotron {
		background-image: url(../images/Cinton.jpg);
		background-position: center;
		padding-bottom: 20px;
			h1 {
				color: white;
				margin-top: 260px;
			}
			p {
				color: white;
			}
	}

	#background {
		position: absolute;
		font-size: 300pt;
		text-shadow: 4px 5px 10px #666;
		opacity: .10;
		filter: dropshadow(color=#666, offx=4, offy=5);
		transform:rotate(12deg);
		-ms-transform:rotate(12deg); /* IE 9 */
		-webkit-transform:rotate(12deg); /* Safari and Chrome */
		top: 0;
		left: 0;
		right: 50;
		z-index: -1;
		overflow: hidden;
	}

	#background2 {
		position: absolute;
		font-size: 300pt;
		text-shadow: 4px 5px 10px #666;
		opacity: .10;
		filter: dropshadow(color=#666, offx=4, offy=5);
		transform:rotate(-12deg);
		-ms-transform:rotate(-12deg); /* IE 9 */
		-webkit-transform:rotate(-12deg); /* Safari and Chrome */
		top: 600px;
		left: 20px;
		z-index: -1;
		overflow: hidden;
	}

	/* This is for styling the aside in the CSS Page */
	aside{
		overflow: auto;
		min-height: 600px;
		max-height: 1500px;
	}

}

.SassBody {
	.jumbotron {
		background-image: url(../images/Sasquatch.jpg);
		background-position: center;
			h1 {
				color: white;
				margin-top: 180px;
			}
			p {
				color: white;
			}
	}
}

.phpBody {
	.jumbotron {
		background-image: url(../images/ObamaLionKing.jpg);
		background-position: center;
			h1 {
				margin-top: 280px;
			}
			padding-bottom: 20px;
	}
	aside {
		li {
			list-style-type: none;
		}
		ul li ul li {
			list-style-type: disc;
		}
	}
}

.MySQLBody {
	.jumbotron {
		background-image: url(../images/GWVZombies.jpg);
		background-position: center;
			h1 {
				margin-top: 180px;
			}

	}	
}

$jasmineYellow: #FBDE7E;
$jasmineBlue: #ADD8E6;

.JasmineBody {
	.jumbotron {
		background-image: url(../images/Jasmine.jpg);
		background-position: right;
		padding: 220px 0px 10px 0px ;
			h1 {
				text-align: left;
				margin-left: 20px;
			}
			p {
				text-align: left;
				margin-left: 20px;
			}
	}
	h3 {
		text-align: center;
	}
	.fourth{
		h3 {
			text-align: left;
			padding-left: 20px;
		}
	} 
	.blue {
		background-color: $jasmineBlue;
		.example2, .example {
			background-color: lighten($jasmineBlue, 5%);
		}		
	}
	.yellow {
		background-color: $jasmineYellow;
		.example2, .example {
			background-color: lighten($jasmineYellow, 5%);
		}
	}
	@media(min-width: $screen-tablet){
		.rts{
			height: 100px;
			position: relative;
			h3 {
				position: absolute; 
				top: 50%;
				margin-top: -26px;
			}
		}
		.rtlist{
			padding-top: 10px;
			min-height: 100px;
		}
		#break:before{
			content: $myLineBreak;
			white-space: pre;
		}
	}
}

.SeleniumBody {
	.jumbotron {
		background-image: url(../images/abe_grizzly.jpg);
		background-position: center;
			h1 {
				color: white;
				margin-top: 180px;
			}
			p {
				color: white;
			}
	}	
}

.protractorBody {
	.jumbotron {
		background-image: url(../images/NixonVSaber.jpg);
		background-position: center;
			h1 {
				margin-top: 300px;
			}

	}
	table, th, td {
		border: 1px solid black;
	}
	td, th {
		text-align: center;
	}
	th, caption {
		background-color: #FFFFF0;
	}
	caption {
		border-top: 1px solid black;
		border-right: 1px solid black;
		border-left: 1px solid black;
		font-weight: bolder;
	}
}

.owaspBody {
	.jumbotron {
		background-image: url(../images/ReaganVeloc.jpg);
		background-position: center;
			h1 {
				color: white;
				margin-top: 4em;
			}
			p {
				color: white;
			}
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

.sqlmapBody {
	.jumbotron {
		background-image: url(../images/SQLMap.jpeg);
		background-position: center;
			h1 {
				color: white;
				margin-top: 180px;
			}
			p {
				color: white;
			}
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

.gitBody {
	.jumbotron {
		background-image: url(../images/Octocat.jpg);
		background-position: center;
			h1 {
				color: white;
				margin-top: 180px;
			}
			p {
				color: white;
			}
	}	
}

.terminalBody {
	.jumbotron {
		background-color: #000;
	}	
	background-color: #000;
	color: #63DE01;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	.example, .example2 {
		background-color: #000;
		border: dashed 1px #e5e5e5;
		color: #63DE01;
		padding-right: 5px;
		padding-left: 5px;
	}
	.keypress {
		color: #e7e7e7;
	}
	.footer {
		color: #63DE01;
	}
}

.ardBody {
	header {
		margin-top: 40px;
	}
	.main {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
	}
	.background {
		background-image: url(../images/ARD.jpg);
		background-position: center;
		background-repeat: no-repeat;

	}
	.lightLayer{
		opacity: .9;
	}
}




