$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
// Bootstrap imported through _mixins.scss
@import "_mixins.scss";

// endbower

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;

	/* Make the masthead heading the same height as the navigation */
	h3 {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 40px;
		padding-bottom: 19px;
		text-transform: capitalize;
	}
}


/* Styling for the Old Header Class.  May be I can get rid of this or style into jumbrotrons with LESS. */
header{
	background-color: Black;
	border-radius: 25px;
	font-variant: small-caps;
	color: #FFF;
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
	button{
		border: 1px solid #dcdcdc;
		color: #777777;
		font-size: 12px;
		font-weight: bold;
		width: 50px;
		text-align: center;
		text-shadow: 1px 1px 0px #000;
	}
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	margin-top: 45px;
	.btn {
		font-size: 21px;
		padding: 14px 24px;
	}
}


/* Supporting marketing content */
.marketing {
	margin: 40px 0;
	p + h4 {
		margin-top: 28px;
	}
}

/* Nav Styling here */
.navbar-brand {
	img {
		max-height: 30px;
		max-width: 30px;
		padding-right: 5px;
		margin-top: -7px;
	}
}

/* Footer Styling here */
.footer {
	clear: both;
	.glyphicon {
		margin: 0px 2px 0px 10px;
	}
}

/* Style for Example classes along with related spans. */
.example {
	font-style: italic;
	color: black;
	background-color: #f9f2f4;
	border: none 1px black;
	@include border-radius(5px);
	padding: 2px;
	border-radius: 2px;
}

.example2 {
	background-color: #f9f2f4;
	border: solid 1px black;		
	font-style: italic;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 90%;
	padding: 2px;
	padding-left: 5px;
	color: black;
	border-radius: 2px;
}

.replace {
	color: red;
}

/* Style for Term class */
.term {
	font-weight: bold;
}

.keypress {
	color: blue;
}


.red { 
	color: red; 
}

/* Aside Styling*/

aside h5 { font-size: 90%; }

aside p, aside ol, aside ul {
	margin: 2px;
	font-family: tahoma, sans-serif;
	font-style: italic;
	font-size: 80%;
	list-style-position: inside;
}

/* This uses adjacent selectors to add extra line height after some headings */
aside h4 + p, aside h5 + p, aside h6 + p {
	margin: 5px;
}


/* This is for the properties inside the CSS Lists*/
aside ul li {
	margin: 3px 0px 3px 0px;
}

aside ul ul li {
	font-size: 9px;
	padding-left: 5px;
	line-height: .9;
	letter-spacing: .2em;
}

aside ul ul li:first-child{
	margin: 2px 0px 1px 0px;
}

/* For Jumbotron images that need an overlay to make text more readable. */
.jumbotron{
	background-size: cover;
	.darkLayer, .lightLayer{
		opacity: 0.65;
		h1, h2, h3, h4, h5, h6, p, {
			opacity: 1.0;
		}
		p {
			font-weight: bold;
			padding-left: 10px;
			padding-right: 10px;			
		}
		h1 {
			padding: 15px;
		}
		width: 100%;
		height: 100%;
		@include border-radius(20px);	
	}
}

.darkLayer {
	color: #FFF;
	background-color: #000;
}
.lightLayer {
	color: #000;
	background-color: #FFF;
}

@import 'pageSpecific';


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 900px;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}

	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}

	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
