node_modules
dist
.tmp
.DS_Store
bower_components
test/bower_components
app/examples/sublime3/User/Package Control.cache/
app/examples/sublime3/User/Package Control.last-run
app/examples/sublime3/User/Package Control.ca-bundle
app/examples/sublime3/User/Package Control.system-ca-bundle
app/examples/sublime3/User/Package Control.ca-certs/
app/examples/sublime3/User/Package Control.cache/

// Trying to figure out why these exist on home computer but not road.
app/examples/sublime3/User/Package Control.user-ca-bundle
app/examples/sublime3/User/Package Control.merged-ca-bundle
npm-debug.log

// Ignores for Nightwatch
test/e2e/selenium-debug.log
test/e2e/tests_output/
test/e2e/reports
test/e2e.screenshots

// Ignores for PhantomCSS
test/phantomcss/failures
test/phantomcss/results
test/phantomcss/screenshots