<!doctype html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<title>ARD Notes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="../favicon.ico">
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="../styles/main.css">
	<!-- endbuild -->
	<!-- build:js scripts/vendor/modernizr.js -->
	<script src="../bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>

<body class="ard-body">
	<!-- Loading the header with javascript include.  Should add a switch for html5 import -->
	<div class="navPlaceholder"></div>
	<!--[if lt IE 10]>
										<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<div class="background">
		<div class="container light-layer">
			<div>
				<header>
					<h1>Apple Remote Desktop</h1>
				</header>
			</div>
			<article>
				<div class="main">
					<div>
						<h3>Unix Commands for Apple Remote Desktop</h3>
						<p>To grab the version # off the plist file if they have Adobe Flash Plugin installed on the system use <code class="example">defaults read /Applications/Utilities/Adobe\ Flash\ Player\ Install\ Manager.app/Contents/Info.plist</code>. This is a lot
							more simple with Java where you can just use <code class="example">java -version</code>. If you want to convince someone that there computer in sentient just type <code class="example"> say &#x22;Hello. Are you trying to communicate with me?&#x22;</code>.
							I suggest using the software update included in ARD but the unix command is <code class="example">sudo /usr/sbin/softwareupdate -i -a</code>.
						</p>
					</div>
					<div>
						<h3>Password Compliance </h3>
						<p>To add a login banner use the command <code class="example">sudo defaults write /Library/Preferences/com.apple.logi&shy;nwindow LoginwindowText &#x22;Use of the system implies consent to user monitoring, any unauthorized use of the system will be prosecuted."</code>							To remove the banner use <code class="example">&#x22;sudo defaults delete /Library/Preferences/com.apple.logi&shy;nwindow LoginwindowText&#x22;</code>.<br></p>
						<ul>
							<li><code class="example">sudo pwpolicy -n /Local/Default -setglobalpolicy &#x22;requiresAlpha=1&#x22;</code></li>
							<li><code class="example">sudo pwpolicy -n /Local/Default -setglobalpolicy &#x22;requiresSymbol=1&#x22;</code></li>
							<li><code class="example">sudo pwpolicy -n /Local/Default -setglobalpolicy &#x22;requiresNumeric =1&#x22;</code></li>
							<li><code class="example">sudo pwpolicy -n /Local/Default -setglobalpolicy &#x22;minChars=8&#x22;</code></li>
							<li><code class="example">sudo pwpolicy -n /Local/Default -setglobalpolicy &#x22;maxMinutesUntilChangePa&shy;ssword=86400&#x22;</code></li>
							<li><code class="example">sudo pwpolicy -n /Local/Default -setglobalpolicy &#x22;minutesUntilFailedLoginReset=0&#x22;</code></li>
							<li><code class="example">sudo pwpolicy -n /Local/Default -setglobalpolicy &#x22;maxFailedLoginAttempts=15&#x22;</code></li>
						</ul>
					</div>
					<div>
						<h3>Software Unix Commands</h3>
						<p>
							Supposedly <code class="example">java -version</code> should get you the version, but I've found you need to use <code class="example">/Library/Internet\ Plug-Ins/JavaAppletPlugin.plugin/Cont&shy;ents/Home/bin/java -version</code> to get the real
							version. To grab the flash version in it's correct format you want to use <code class="example">defaults read /Applications/Utilities/Adobe\ Flash\ Player\ Install\ Manager.app/Contents/Info.plist</code>.
						</p>
					</div>
					<div>
						<h3>Packages</h3>
						<p>You may have to sign up but Flash Packages can be found <a href="http://www.adobe.com/products/flashplayer/distribution3.html">here</a>.</p>
					</div>
				</div>
			</article>
			<!-- Loading footer with AJAX -->
			<div class="footerPlaceholder"></div>
		</div>
	</div>
	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b, o, i, l, e, r) {
			b.GoogleAnalyticsObject = l;
			b[l] || (b[l] =
				function() {
					(b[l].q = b[l].q || []).push(arguments)
				});
			b[l].l = +new Date;
			e = o.createElement(i);
			r = o.getElementsByTagName(i)[0];
			e.src = '//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e, r)
		}(window, document, 'script', 'ga'));
		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>
	<!-- build:js scripts/plugins.js -->
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
	<!-- endbuild -->
	<!-- build:js({app,.tmp}) scripts/main.js -->
	<script src="../scripts/main.js"></script>
	<!-- endbuild -->
	<!-- myScripts -->
	<script src="../includes/nav.js"></script>
	<script src="../includes/footer.js"></script>
</body>

</html>
