<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>git Notes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="../favicon.ico">
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="../styles/main.css">
		<!-- endbuild -->
		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="../bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>
	<body class="gitBody">
		<!-- Loading the header with javascript include.  Should add a switch for html5 import -->
		<div class="navPlaceholder"></div>
		<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="container-fluid">
			<div class="jumbotron">
				<h1>Git</h1>
			</div>
			<article>
			<div class="leftNav">
			<aside class="proFixed">
				<a href="#start" class="leftNaveButton clearBoth">Starting</a>
				<a href="#stash" class="leftNaveButton clearBoth">Stash</a>
				<a href="#basics" class="leftNaveButton clearBoth">Basics</a>
				<a href="#branches" class="leftNaveButton clearBoth">Branches</a>
				<a href="#ignore" class="leftNaveButton clearBoth">Ignore</a>
			</aside>
			</div>
			<div class="main">
			<div id="start" class="leftNavCompanion">
				<h3>Starting a Project</h3>
				<p>Locally use:</p>
				<div class="example2">
					git init <br>
					touch README.md <br>
					git add *.c<br>
					git add README.md<br>
					git commit -m "<span class="replace">This is the 1st commit</span>"
				</div>
				<p> Pull down a project that has already been started: <br>
				<code class="example2">git clone <span class="replace">github/url</span></code>
				<p>
			</div>
			<div id="stash" class="leftNavCompanion">
				<h3 >Stash</h3>
				<p>Save current changes to Stash<br>
				<code class="example2">git stash -m "<span class="replace">Message about stash</span>"</code>
				</p>
				<p>List stash changes<br>
				<code class="example2">git stash list</code>
				</p>
				<p>Get a stashed change back to working directory:<br>
				<code class="example2">git stash pop <span class="replace">HashFragNum</span></code>
				</p>
				<p>Clear all stashed changes:<br>
				<code class="example2">git stash clear "<span class="replace">Message about stash</span>"</code>
				</p>
			</div>
			<div id="basics" class="leftNavCompanion">
				<h3 >Basics</h3>
				<p>Check for Changes since last commit:<br>
				<code class="example2">git status</code>
				</p>
				<p>Add a file to local staging:<br>
				<code class="example2">git add <span class="replace">path/to/file</span></code>
				</p>
				<p>Move a file:<br>
				<code class="example2">git mv <span class="replace"> path/to/filename.txt</span> <span class="replace"> new/path/to/filenamenew.txt</span></code>
				</p>
				<p> Commmit all staged file:<br>
				<code class="example2">git commit -m "<span class="replace">Message with commit</span>"</code>
				</p>
				<p> Stage &amp; Commmit all changes in working directory:<br>
				<code class="example2">git commit -am "<span class="replace">Message with commit</span>"</code>
				</p>
				<p>Push commits to remote:<br>
				<code class="example2">git push</code>
				</p>
				<p>Get rid of an unstage change:<br>
				<code class="example2">git checkout <span class="replace">path/to/file/to/</span></code>
				</p>
				<p>Get rid of all unstaged changes:<br>
				<code class="example2">git checkout — .</code>
				</p>
				<p>Revert last commit (keeping changes) if not pushed to remote yet:<br>
				<code class="example2">git reset HEAD~1</code>
				</p>
				<p>Revert last commit (nuking changes) if not pushed to remote yet:<br>
				<code class="example2">git reset --hard HEAD~1</code>
				</p>
			</div>
			<div id="branches" class="leftNavCompanion">
				<h3>Branches</h3>
				<p> Create a new branch off current branch:<br>
				<code class="example2">git checkout -b <span class="replace">BranchName</span></code>
				</p>
				<p> Switch branch:<br>
				<code class="example2">git checkout <span class="replace">BranchName</span></code>
				</p>
				<p> Show Local branches:<br>
				<code class="example2">git branch</code>
				</p>
				<p> Show Remote branches:<br>
				<code class="example2">git branch -r</code>
				</p>
				<p> Put a local branch on remote with default tracking:<br>
				<code class="example2">git push -u <span class="replace">OriginName</span> <span class="replace">RemoteBranchName</span></code>
				</p>
				<p> Pull down a remote branch you don't have:<br>
				<code class="example2">git checkout -b <span class="replace">LocalBranchName</span> origin/<span class="replace">remote_branch_name</span></code>
				</p>
				<p> Delete local branch:<br>
				<code class="example2">git branch -d <span class="replace">BranchName</span></code>
				</p>
				<p>Merge a branch:<br>
				<code class="example2">git merge <span class="replace">NameOfBranchToMergeIntoCurrentBranch</span></code>
				</p>
			</div>
			<div id="ignore" class="leftNavCompanion">
				<h3>Git Settings</h3>
				<p>Your syncing your .bash_profile now and autocompletion can be setup by simply setting your bash profile to use the files in this project:<br>
				<code class="example2">source /Applications/MAMP/htdocs/Notes/app/examples/.bash_profile</code></p>
				<p> You should be able to use your synced git ignore by configuring it to look at the file in this project <br>
				<code class="example2">git config --global core.excludesfile /Applications/MAMP/htdocs/Notes/app/examples/.gitignore_global</code>
				</p>
			</div>
			<div id="bower" class="leftNavCompanion">
				<h3>NPM &amp; Bower</h3>
				<p>Just a couple quick notes on npm &amp; Bower. When you need to update a dependency don't just update package.json, instead run the update through npm with a command.  Here's some examples.</p>
				<code class="example2">npm install <span class="replace">yeoman -g</span></code><br>
				<code class="example2">git checkout <span class="replace">protractor@1.4.0 --save-dev</span></code><br>
				<code class="example2">git checkout <span class="replace">selenium-webdriver@latest</span></code><br>
				<code class="example2">git checkout <span class="replace">chromedriver@"&#62;2.0.0 &#60;2.12.0"</span></code>
			</div>
			</div>
			</article>

			<!-- Loading footer with AJAX -->
			<div class="footerPlaceholder"></div>
		</div>
		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<!-- endbower -->
		<!-- endbuild -->
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		<!-- build:js scripts/plugins.js -->
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
		<!-- endbuild -->
		<!-- build:js({app,.tmp}) scripts/main.js -->
		<script src="scripts/main.js"></script>
		<!-- endbuild -->
		<!-- myScripts -->
		<script src="../includes/nav.js"></script>
		<script src="../includes/footer.js"></script>
	</body>
</html>