<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>Javascript Notes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="../favicon.ico">
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="../styles/main.css">
		<!-- endbuild -->
		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="../bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>
	<body class="javascriptBody">
		<!-- Loading the header with javascript include.  Should add a switch for html5 import -->
		<div class="navPlaceholder"></div>
		<!--[if lt IE 10]>
										<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="container">
			<div>
				<div class="jumbotron">
					<h1>Javascript Notes</h1>
					<p class="lead">"Things do not happen. Things are made to happen." - JFK</p>
					<p><a class="btn btn-lg btn-success" href="#"><span class="glyphicon glyphicon-fire"></span> FPO <span class="glyphicon glyphicon-fire"></span></a></p>
				</div>
			</div>
			<article id="container" class="col-xs-12 col-sm-8">
			<header> <!-- Header should not be in article.  Header tag itself seems to be breaking the format tool.-->
				<h3>Javascript</h3>
			<p>
			Press this button for Javascript in action!
			<button type="submit" value="Submit" onclick="alert('I need to think of something for this to do.')">Button</button>
			</p>
			</header>
			<p>
			A few basic things about Javascript, it is case sensitive, but not whitespace sensitive.  It's
			important to remember that the code will get executed when the browser hits the code. Best
			practice is to run the Javascript at the end of the body unless you're linking to a stylesheet.
			If you want you're variable to be a string just be sure to put it in quotes.  You can quote inside it by
			using a different type of quote.
			</p>
			<p>
			<span class="term">Variables</span> are about as important as it gets, <code class="example">var
			foo;</code> is an undefined variable, while <code class="example">var foo=100;</code> is defined.
			Variables can be made of letters, numbers, underscores and the dollar sign, but can't start with a number.
			Some issues can up when you go to change a variable and you accidently don't get the name right because of
			case sensitivity, this will create a new variable and screw with your mind because an error doesn't appear.
			Javascript is a weekly typed language meaning you don't have to declare if variables are a string, number
			or boolean.
			</p>
			<p>
			<span class="term">Conditionals Code</span> is done with if statements. Here's an example:
			<br>
			<div class="example2">
				if (x==100){ <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alert(this) <br>
				}else{ <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alert(that) <br>
				}<br>
			</div>
			You can nest another argument inside the else, but it is suggested to not nest more than once or twice for
			the sake of code readiblity.
			</p>
			<p>
			Another important part of javascript is <span class="term">Operators</span>. Arithmetic Operators are things like
			addition, subration, multiplacation and division <code class="example">foo = foo + 1;</code> or in shorthand <code class="example">foo +=
			1;</code>. But it's important to remember <span class="term">Oparator Precedence</span>,  multiplication and division
			are considered more important than addition and subtraction, use parentheses to ensure your math gets done in the order
			you intended.  For <span class="term"> Equality </span> rember that you need to use double equal signs <code
			class="example">foo == '5'</code> or three equal signs for <span class="term">Strict Equality </span> which also
			checks type <code class="example">foo === 5</code>.  When making <span class ="term"> Comparisons </span> you have to remember that
			<span class="term"> and </span> uses a double ampersand <code class="example">&amp;&amp;</code> and for <span class="term">
			Or</span> you use two bars <code class="example">||</code>. <span class="term"> Modulus</span> <code class="example">
			%</code> will leave you the remainder. The <span class="term">Ternary </span> operator is like a mini if statement, you
			make one by setting a condition then using a questionmark then do this is true colon this if false (e.g. <code class="example">
			(playerOne > playerTwo ? playerOne : playerTwo)</code>).
			</p>
			<p>
			Working with <span class="term"> Loops </span>, also known as iteration, is a big part of using Javascript. A <span
			class="term">for loop</span> starts with the word "for" then opens parenthesis, in the parenthesis you start with a variable
			being defined, after a comma you set a condition, after another comma you set and incrementor and then close the
			parenthesis. You follow with curly braces, that will get executed every time the loop runs (e.g. <code class="example">for
			(var = i, i &lt; 10, i++){console.log(i;};</code>).  A <span class="term">while loop</span> is writen like:<br>
			<div class="example2">
				while (a &lt; 10){<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log(a);<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a++;<br>
			}<br></div>
			You can always use <span class="term"> break </span> to manually stop a loop. You can also use <span class="term"> continue
			</span> to skip one iteration and check the condition again.
			</p>
			<p>
			Another big part of Javascript is writting a <span class="term"> function </span>. A function is declared by:<br>
			<div class="example2">
				function myName() {<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dostuff;<br>
			}<br> </div>
			Then you can use the function by calling it with parenthesis and then following it with a semicolon (e.g. <code class="example">
			myName();</code>).  Some functions have <span class="term">parameters</span> that go inside the parenthesis.  If you call
			a function with extra parameters it will just ignore the extras, but if you pass in too few they will be considered undefined.
			It's also important to remember <span class="term"> Variabal Scope </span>. If you define a variable in a function it is a
			local variable and will be undefined outside the function.  If you need a global variable just declare the it outside the
			function and don't use the word var when defining it inside the function.
			</p>
			<p>
			<span class="term">Arrays</span> are like Variable for with multiple values.  You define an array the same way you would a
			variable except you put the values in a square bracket separated by commas (e.g. <code class="example">var myArray = [0, 1,
			2, Cat];</code> ).  Remember that to start counting at 0 when referencing the items in the array.
			</p>
			<p>
			<span class="term">Objects</span> are containers that hold things like variables or functions.  You make a variable like this: <br>
			<div class="example2">
				var player = new Object();<br>
				player.name = "Fred";<br>
				player.score = 100;<br>
			</div>
			But this also has a shorthand (<code class="example">var player = {name: "fred", score = 100};</code>). You can then make a method for
			the object by writting a function like this: <br>
			<div class="example2">
				function playerDetails(){<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log(this.name + " has a score of " + this.score ".");<br>
				}<br>
			</div>
			One of the most important methods of the Document Object Model is <span class=term>getElementById</span> which can be used
			to retrieve an element node (<code class="example">var myElement = document.getElementById("someId")</code>).  You can use this to grab
			things in the DOM and change them with .setAttribute. More helpful is to individually drop element nodes into the DOM, using .createElement
			with .appendChild, for more on this please watch this <a href="http://www.lynda.com/home/Player.aspx?lpk4=87541&playChapter=False"
			target="_blank">video</a>.
			</p>
			<p>
			<span class="term">Methods</span> are used on a bunch of different objects.  When using methods for dates it's important to
			remember that .getDate will give you the day of the month, while .getDay will give you the day of the week, and that to get the
			year you should use .getFullYear (e.g. <code class="example">"myDate.getFullYear():</code> ). .getHours will give you the hour
			in a 0-23 format. .getTime will give you the time down to the millisecond since 1/1/1970, which gets used a lot to see if something
			is newer than something else. When comparing dates you usually want to use a method because you're comparing objects and they're not
			same even if they have the same value (e.g. <code class="example">date1.getTime() == date2.getTime();</code> ).
			</p>
			<p>
			<span class="term">Events</span> are a huge part of interactivity. These can be done in dot notation and then written like
			a function ( <code class="example">document.onclick = function(){...</code>).  You can also do the by using an <span class="term">
			Event Listener</span> which isn't completely supported because IE is IE (<code class="example">document.addEventListener("click",
			myFunction, false)</code>).  If you want to target something you can use a combo of a new variable and the .getElement function like this:<br>
			<div class="example2">
				var myImage = document.getElementById("mainImage");{<br>
				myImage.onclick = function(){;<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alert("You click me");<br>
				}<br>
			</div>
			You can use the the onsubmit function for forms to stop them from sending to the server by setting them to return false. If you're planning
			on adding CSS that will require Javascript to complete the function you may want to only add the CSS through a javascript, this type of
			practice is called <span class="term">Progressive Enhancement</span>.
			</p>
			<p>
			You can change the inlined CSS with the <span class="term"> .style </span> (<code class="example">.style.red </code>).  Some of the terms
			change slightly, things that are hyphenated change to camel case (<code class="example">backgroundColor</code>).  Class is a reserved word
			so in Javascript you use className.
			</p>
			<p>
			<span class="term">Regular Expressions</span> can be used to do some complex stuff, check this <a href="javascript:void(0);"
			target="_blank">video</a> for more information.  You're also going to want to learn more about <span class="term">Asynchronous
			JavaScript and XML</span>, also known as <span class="term">AJAX</span> to make the browser do all this stuff on the server side.
			</p>
			</article>
			<div class="col-xs-12 col-sm-4">
				<aside>
					<h4> Terms </h4>
					<p> <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference" target="_blank">Mozilla Reference Guide </a><p>
					<h5> Functions </h5>
					<ul>
						<li>
							<h6> Function Basics </h6>
							<p>This is how you define a function:<br>
							function myName() = { <br>
							do stuff; <br>
							}
							</p>
							<p>
							<a href="http://www.tutorialspoint.com/javascript/javascript_builtin_functions.htm" target="_blank"> Functions </a>
							are quick arguements.
							</p>
						</li>
						<li>
							<h6> Basic Functions </h6>
							<ul>
								<li> myName(); </li>
								<li> alert(); </li>
								<li> toUpperCase(); </li>
								<li> valueOf(); </li>
								<li> isNaN(); </li>
								<li> !isNaN(); </li>
								<li> Date(2000, 12, 31); </li>
								<li> Date(2000, 12, 31, 12, 60, 00); </li>
								<li> setTimeout </li>
								<li> setInterval </li>
							</ul>
						</li>
						<li>
							<h6> Event Listeners </h6>
							<ul>
								<li> .onclick; </li>
								<li> .onload; </li>
								<li> .onhover; </li>
								<li> .onfocus; </li>
								<li> .onblur; </li>
							</ul>
							<h6> For Forms </h6>
							<ul>
								<li> .onchange </li>
								<li> .onkeypress </li>
								<li> .onkeyup </li>
								<li> .checked </li>
								<li> .selected </li>
								<li> .onsubmit </li>
							</ul>
						</li>
					</ul>
					<h5> Operators </h5>
					<p>
					Here is a list of some <a href="http://www.w3schools.com/js/js_operators.asp" target ="_blank">Operators</a>
					</p>
					<ul>
						<li>
							<h6> Comparisons </h6>
							<ul>
								<li> if (a == b) </li>
								<li> if (a &lt; b) </li>
								<li> if (a != b) </li>
								<li> if (a === b) </li>
								<li> if (a &lt;= b &amp;&amp; a&lt;=c) </li>
								<li> if ((a !== b) || (a !== c))</li>
							</ul>
						</li>
						<li>
							<h6> Modulus </h6>
							<ul>
								<li> var remainder = year % 4; </li>
							</ul>
						</li>
						<li>
							<h6> Increment / Decrement </h6>
							<ul>
								<li> a = a + 1 </li>
								<li> a++ </li>
								<li> a += 1 </li>
								<li> ++a </li>
								<li> a-- </li>
								<li> a -= 1 </li>
							</ul>
						</li>
						<li>
							<h6> Ternary </h6>
							<ul>
								<li> (a != 0) ? alert(true) : alert(false) </li>
							</ul>
						</li>
					</ul>
					<h5> Loops </h5>
					<p> Loops are a valuable tool. </p>
					<ul>
						<li>
							<h6> Loops </h6>
							<ul>
								<li> for( var a = 10, a!=0, a--){console.log(a);} </li>
								<li> var a=10 while(a &#60; 10) {console.log(a); a++;} </li>
								<li> var a=10 do{console.log(a); a++} while( a >10); </li>
							</ul>
						</li>
					</ul>
					<h5> Methods </h5>
					<ul>
						<li>
							<h6> Basic Methods </h6>
							<ul>
								<li> .length(); </li>
								<li> .join();</li>
								<li> .sort(); </li>
								<li> .reverse(); </li>
								<li> .split(); </li>
								<li> .indexOf(); </li>
								<li> .slice(); </li>
								<li> .substring(start,length); </li>
								<li> .substr(start,length); </li>
							</ul>
						</li>
						<li>
							<h6> Methods for working in HTML </h6>
							<ul>
								<li> .getElementById(); </li>
								<li> .getELementByTag(); </li>
								<li> .nodeType </li>
								<li> .innerHTML </li>
								<li> .getAttribute("name"); </li>
								<li> .setAttribute("name , value "); </li>
								<li> .createElement </li>
								<li> .appendChild </li>
								<li> .createTextNode </li>
								<li> document.form.formName </li>
							</ul>
						</li>
						<li>
							<h6> Methods for Arrays </h6>
							<ul>
								<li> .getElementsByTagName(); </li>
								<li> .join();</li>
								<li> .sort(); </li>
								<li> .reverse(); </li>
							</ul>
						</li>
						<li>
							<h6> Methods for Date </h6>
							<ul>
								<li> .getMonth(); </li>
								<li> .getFullYear();</li>
								<li> .getDate(); </li>
								<li> .getDay(); </li>
								<li> .getHours(); </li>
								<li> .getTime(); </li>
								<li> .setMonth(); </li>
								<li> .setDate(); </li>
							</ul>
						</li>
					</ul>
					<h5> Objects </h5>
					<ul>
						<li>
							<h6> Math </h6>
							<ul>
								<li> Math.round(); </li>
								<li> Math.max(); </li>
								<li> Math.min(); </li>
								<li> Math.random(); </li>
								<li> Math.sqrt(); </li>
								<li> Math.PI(); </li>
								<li> Math.log(); </li>
							</ul>
						</li>
					</ul>
					<h5> Console Commands </h5>
					<p> Console Commands are only used by debug tools. </p>
					<ul>
						<li>
							<h6> Console Commands </h6>
							<ul>
								<li> console.log() </li>
								<li> console.debug() </li>
								<li> console.info()</li>
								<li> console.error() </li>
								<li> console.warn() </li>
							</ul>
						</li>
					</ul>
				</aside>
			</div>
			<div>
				<!-- Loading footer with AJAX -->
				<div class="footerPlaceholder"></div>
			</div>
			<!-- build:js scripts/vendor.js -->
			<!-- bower:js -->
			<script src="../bower_components/jquery/dist/jquery.js"></script>
			<!-- endbower -->
			<!-- endbuild -->
			<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
			<script>
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
			</script>
			<!-- build:js scripts/plugins.js -->
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
			<script src="../includes/nav.js"></script>
			<script src="../includes/footer.js"></script>
			<!-- endbuild -->
			<!-- build:js({app,.tmp}) scripts/main.js -->
			<script src="../scripts/main.js"></script>
			<!-- endbuild -->
		</body>
	</html>