<!doctype html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<title>MySQL Notes</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="../favicon.ico">
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="../styles/main.css">
	<!-- endbuild -->
	<!-- build:js scripts/vendor/modernizr.js -->
	<script src="../bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>

<body class="mysql-body">
	<!-- Loading the header with javascript include.  Should add a switch for html5 import -->
	<div class="navPlaceholder"></div>
	<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<div class="container">
		<div>
			<div class="jumbotron">
				<div class="light-layer">
					<h1>MySQL Notes</h1>
					<p class="lead">"It is far better to be alone, than to be in bad company." - George Washington</p>
				</div>
			</div>
		</div>
		<article class="col-md-9 col-sm-8 col-xs-12">
		</article>
		<aside class="col-md-3 col-sm-4 col-xs-12">
			<h4> Quick Notes </h4>
			<p> For all things: <a href="http://php.net/" target="_blank">PHP.Net</a>.</p>
			<h5> Header </h5>
			<ul>
				<li>
					<details open>
						<summary>Various</summary>
						<ul>
							<li>
								Comment<br /> /**
								<br /> * This is part of the comment. <br /> */
							</li>
							<li> // ~ Single line comments </li>
							<li> print_r($var) ~ show array </li>
						</ul>
					</details>
					<li>
						<details>
							<summary>String Functions</summary>
							<ul>
								<li> . </li>
								<li> .= </li>
								<li> strtolower() </li>
								<li> strtoupper() </li>
								<li> ucfirt() </li>
								<li> ucwords() </li>
								<li> strlen() </li>
								<li> trim() </li>
								<li> strstr($var, "word") </li>
								<li> str_replace("word", "replace", Svar) </li>
								<li> str_repeat() </li>
								<li> substr($var, x, y) </li>
								<li> strpos($var, "word") </li>
								<li> strchr(,$var, l) </li>
							</ul>
						</details>
					</li>
					<li>
						<details>
							<summary>Number functions</summary>
							<ul>
								<li> + </li>
								<li> - </li>
								<li> / </li>
								<li> * </li>
								<li> += </li>
								<li> ++ </li>
								<li> abs(-x) ~absolute</li>
								<li> pow(x,y) </li>
								<li> sqrt(x) </li>
								<li> fmod(x,y) ~ modelo</li>
								<li> rand() </li>
								<li> rand(x,y) ~ rand in a range</li>
								<li> round() </li>
								<li> ceil() </li>
								<li> floor() </li>
								<li> is_int() </li>
								<li> is_float </li>
								<li> is_numeric </li>
							</ul>
						</details>
					</li>
					<li>
						<details>
							<summary>Array functions</summary>
							<ul>
								<li> count() </li>
								<li> max() </li>
								<li> min() </li>
								<li> sort() </li>
								<li> rsort()</li>
								<li> implode("ByThis", $var) </li>
								<li> explode("ByThis", $var) </li>
								<li> in_array("x", $var) </li>
								<li> array_keys() </li>
								<li> array_values() </li>
								<li> array_search("ForThis", $var)
									<li> array_push() </li>
									<li> array_pop() </li>
									<li> array_shift() </li>
									<li> array_rand() </li>
									<li> <a href="http://php.net/manual/en/ref.array.php" target="_blank">Full List</a> </li>
							</ul>
						</details>
						</li>
						<li>
							<details>
								<summary>Type Casting</summary>
								<ul>
									<li> settype($var, "integer") - perm </li>
									<li> (integer) $var -temp </li>
								</ul>
							</details>
						</li>
						<li>
							<details>
								<summary>Comparisons &amp; Logical Operators</summary>
								<ul>
									<li> if (a == b) </li>
									<li> if (a &#60; b) </li>
									<li> if (a != b) </li>
									<li> if (a === b) </li>
									<li> if (a >= b &amp;&amp; a !&#60;=c) </li>
									<li> if ((a != b) || (a !== c))</li>
									<li> if (!isSet($a)) ~ ! means not</li>
								</ul>
							</details>
						</li>
			</ul>
		</aside>
		<div>
			<!-- Loading footer with AJAX -->
			<div class="footerPlaceholder"></div>
		</div>
	</div>
	</div>
	</div>
	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b, o, i, l, e, r) {
			b.GoogleAnalyticsObject = l;
			b[l] || (b[l] =
				function() {
					(b[l].q = b[l].q || []).push(arguments)
				});
			b[l].l = +new Date;
			e = o.createElement(i);
			r = o.getElementsByTagName(i)[0];
			e.src = '//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e, r)
		}(window, document, 'script', 'ga'));
		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>
	<!-- build:js scripts/plugins.js -->
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
	<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
	<!-- endbuild -->
	<!-- build:js({app,.tmp}) scripts/main.js -->
	<script src="../scripts/main.js"></script>
	<!-- endbuild -->
	<!-- myScripts -->
	<script src="../includes/nav.js"></script>
	<script src="../includes/footer.js"></script>
</body>

</html>
