<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>Protractor Notes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="../favicon.ico">
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="../styles/main.css">
		<!-- endbuild -->
		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="../bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>
	<body class="protractorBody">
		<!-- Loading the header with javascript include.  Should add a switch for html5 import -->
		<div class="navPlaceholder"></div>
		<!--[if lt IE 10]>
										<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="container">
			<div class="jumbotron">
				<div class="lightLayer">
					<h1>Protractor Notes</h1>
					<p class="lead">"When the President does it, that means that it's not illegal." - Richard Nixon</p>
				</div>
			</div>
			<article>
			<div class="main">
				<div>
					<h3>Introduction</h3>
					<p>Protractor is an end to end test framework for <a href="https://angularjs.org/">AngularJS</a> applications built on top of <a href="https://code.google.com/p/selenium/wiki/WebDriverJs">WebDriverJS</a>. Protractor runs tests against your application running in a real browser, interacting with it as a user would.</p>
				</div>
				<div>
					<h3>Installation &amp; Use</h3>
					<p>The setup is explained in their readme doc on <a href="https://github.com/angular/protractor/blob/master/docs/getting-started.md">github</a>.</p>
				</div>
				<div>
					<h3>Tools</h3>
					<p>The full list of selectors and evaluation tools can be found on their <a href="https://github.com/angular/protractor/blob/master/docs/api.md">github api page</a>.  Watch out, as many of them use deferred promises.</p>
				</div>
				<div>
					<h3>Running Only Certain Tests</h3>
					<p>When working on a single test or set of tests you probably don't want to run all of your tests.  This can be accomplished in a couple ways, the ones in protractor are mentioned in the reference conf file. By adding the following to you config file:
					</p>
					<div class="example2">
						//patterns are relative to the location of this config. <br>
						suites: {<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;full: '<span class="replace">.e2e/**/*.spec.js</span>',<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;smoke: ['<span class="replace">.e2e/views/home.spec.js', '.e2e/nav/conversionpath.spec.js', '.e2e/views/product.spec.js</span>'],<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;views: '<span class="replace">.e2e/views/*.spec.js</span>',<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;inProg: '<span class="replace">e2e/nav/productcounter.js</span>'<br>
						},<br>
					</div>
					<p>
					Then you can run a set of tests simple simply by adding <span class="term">--suite=<span class="replace">SuiteName</span></span> to the end of your run command in terminal (e.g. <code class="example"> protractor  <span class="replace">example/conf.js</span> --suite=smoke</code>).
					<br>
					While you're working on a test you probably only want to run that test, maybe you only want to run that describe block, or maybe you want to skip a test for the time being. This can be accomplished through the testing framework you're using, but be careful because they're easy to miss if you forget to remove them.
					</p>
					<p> There's a new option to exclude test for specific capability with build 1.40. You can now set multibrowser capabilities like this:</p>
					<div class="example2">
						multiCapabilities: [{<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'browserName': 'chrome',<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;include: 'spec/unit/data/fakespecA.js'<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;exclude: 'spec/unit/data/fakespecB.js'<br>
						}]<br>
					</div>
					<table>
						<caption>Single Test or Block by Language</caption>
						<tbody>
							<tr>
								<th></th>
								<th><b>Jasmine</b>&nbsp;</th>
								<th><b>Mocha&nbsp;</b></th>
							</tr>
							<tr>
								<th>Run just this test</th>
								<td>&nbsp;change it to <span class="term">iit</span></td>
								<td>&nbsp;change it to <span class="term">it.only</span></td>
							</tr>
							<tr>
								<th>Skip a test</th>
								<td>&nbsp;change it to <span class="term">xit</span></td>
								<td>&nbsp;change it to <span class="term">it.skip</span></td>
							</tr>
							<tr>
								<th>Run just this describe block</th>
								<td>&nbsp;change describe to <span class="term">ddescribe</span></td>
								<td>&nbsp;change describe to <span class="term">describe.only</span></td>
							</tr>
							<tr>
								<th>Skip a describe block</th>
								<td>&nbsp;change describe to <span class="term">xdescribe</span></td>
								<td>&nbsp;change describe to <span class="term">describe.skip</span></td>
							</tr>
						</tbody>
					</table>
					<p>
					If you're using single browser capability but wish to test with a different browser than the default add <span class="term">--browser=<span class="replace">BrowserName</span></span> (e.g. <code class="example"> protractor  <span class="replace">example/conf.js</span> --browser=firefox</code>).
					</p>
				</div>
				<div>
					<h3>Tips</h3>
					<h5>Send Keys</h5>
					<p>
					A list of Unicode Send Keys available to Selenium can be found <a href="http://selenium.googlecode.com/svn/trunk/docs/api/java/org/openqa/selenium/Keys.html">here</a>.<br>
					Sending letters and numbers works simple by using:<br>
					<code class="example">element(by.name('<span class="replace">name</span>')).sendKe&shy;ys('<span class="replace">Example</span>');</code><br>
					Recently they fixed in issue and this should work for sending unicode keys.
					<code class="example">element(by.name('<span class="replace">name</span>')).sendKe&shy;ys(protractor.Key.<span class="replace">TAB</span>)</code><br>
					This was the workaround for previous issue so I'm keeping it here in case comes back.
					<code class="example">browser.actions().sendKe&shy;ys(protractor.Key.<span class="replace">TAB</span>).perform();</code><br>
					Using the send key delete doesn't seem to work,<br>
					<code class="example">element(by.name('name')).sendKe&shy;ys(protractor.Key.<span class="replace">DELETE</span>);</code><br>
					But BACK_SPACE does.<br>
					<code class="example">element(by.name('name')).sendKe&shy;ys(protractor.Key.<span class="replace">BACK_SPACE</span>);</code>
					</p>
					<h5>Sleep &amp; Pause</h5>
					<p>A lot of times a test will fail because it isn't waiting for the page to load.  <code class="example">browser.waitForAngular();</code> doesn't wait for angular animations.  You can use <code class="example">browser.sleep(<span class="replace">####</span>);</code> to give the page time to load.  If you want to access the browser in the middle of the test use <code class="example">browser.pause(<span class="replace">#</span>)</code>, but remember to close web inspector before continuing the test (pressing 'd+RETURN' in terminal will continue to the next pause).</p>
					<h5>Angular Can't Be Found</h5>
					<p>As the <a href="https://github.com/angular/protractor/blob/master/docs/faq.md">FAQ</a> mentions this may have to do with the version, but they didn't mention that it looks for ng-app on the body tag.  So if yours is anywhere else you need to set rootEl in the config file (e.g. <code class="example">rootElement: '<span class="replace">div</span>',</code>). </p>
					<h5>OnPrepare &amp; OnComplete</h5>
					<p>You can use the OnPrepare function in the config file to set up for testing.  You can do thing like disable animation with this (only useful if animation doesn't effect what you're testing).  I suggest at least setting a default window size and location to start your testing from.</p>
					<div class="example2">
						onPrepare: function() {<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;browser.manage().window().setSi&shy;ze(<span class="replace">1500</span>,<span class="replace">1000</span>);<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;browser.manage().window().setPo&shy;sition(<span class="replace">0</span>,<span class="replace">0</span>);<br>
						},<br>
					</div>
					<p>Similar commands can be run before and after each test with <code class="example">beforeEach</code> &amp; <code class="example">afterEach</code>.  On 1.40 they added <code class="example">beforeLaunch</code> &amp; <code class="example">afterLaunch</code> which can be used to setup/close test dependencies, but beware this runs before global variable 'protractor' object is setup.</p>
					<h5>$</h5>
					<p>
					<code class="example">$</code> means <code class="example">element(by.Css</code><br>
					<code class="example">$$</code> means <code class="example">element.all(by.Css</code><br>
					It's important to remember that element is just grabbing the first thing it encounters and will only warn you to be more specific some of the time.  Sometimes it's better to just use element.all then see what ends up in the array.
					</p>
					<h5>Managing Expectations</h5>
					<p>
					Some good thing to check examples:<br>
					<code class="example">expect(<span class="replace">elName</span>.isPr&shy;esent()).toBeTruthy();</code><br>
					Or:
					</p>
					<div class="example2">
						<span class="replace">prodNum.get(7).$('img')</span>.isDis&shy;played().then(function(val) {<br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;expect(val).toBeFalsy();<br>
					})</div>
					<p>Or:
					<code class="example">expect(<span class="replace">myButton</span>.isEn&shy;abled()).toBeFalsy();</code><br>
					</p>

					<h3>Examples</h3>
					<p><a href="../examples/shared.js" download="shared.js">Here's</a> an example of a helper file that can be used to load shared functions and variables.</p>
					<p><a href="../examples/login-flow.js" download="login-flow.js">Here's</a> a login flow that can help with Google Oauth.</p>
					<p><a href="../examples/login-flow.js" download="login-flow.js">Here's</a> an example config file with some custom settings.</p>
				</div>
			</div>
			<aside id="proAside">
				<h5>Quick Reference</h5>
				<h6>Element(By.XXXXX</h6>
				<ul>
					<li><code class="example">$</code> means <code class="example">element(by.Css</code></li>
					<li><code class="example">$$</code> means <code class="example">element.all(by.Css</code></li>
					<li><code class="example">element(by.className('')</code></li>
					<li><code class="example">element(by.cssContaining<br>
					Text('<span class="replace">css</span>', '<span class="replace">text</span>')</code></li>
					<li><code class="example">element(by.className('')</code></li>
					<li><code class="example">element(by.name('')</code><br>
					&nbsp;&nbsp;&nbsp;&nbsp;Element Name</li>
					<li><code class="example">element(by.id('')</code></li>
					<li><code class="example">element(by.partialLinkText('')</code></li>
					<li><code class="example">element(by.binding('')</code></li>
					<li><code class="example">element(by.js('')</code></li>
				</ul>
				<h6>Send Keys</h6>
				<ul>
					<li>Should be: <br>
						<code class="example">element(by.name('name'))<br>
					.sendKeys(protractor.Key.<span class="replace">TAB</span>)</code></li>
				</ul>
				<h6>Browser</h6>
				<ul>
					<li>means: <code class="example">protractor.getInstance();</code></li>
					<li><code class="example">browser.get('<span class="replace">URL</span>')</code></li>
					<li><code class="example">browser.getCurrentUrl()</code></li>
					<li><code class="example">browser.sleep(<span class="replace">#</span>)</code></li>
					<li><code class="example">browser.pause(<span class="replace">#</span>)</code></li>
					<li><code class="example">browser.manage()<br>
					.window().setSize(<span class="replace">1500</span>, <span class="replace">1000</span>);</code></li>
					<li><code class="example">browser.manage().window()<br>
					.setPosition(<span class="replace">1500</span>, <span class="replace">1000</span>);</code></li>
					<li><code class="example">browser.manage()<br>
					.getCookie('<span class="replace">_ga</span>')</code> (promise)</li>
					<li><code class="example">browser.driver.navigate()<br>
					.forward()</code> (promise)</li>
				</ul>
				<h6>Element Properties</h6>
				<ul>
					<li><code class="example"><span class="replace">elName</span>.getText()</code></li>
					<li><code class="example"><span class="replace">elName</span>.getTitle()</code></li>
					<li><code class="example"><span class="replace">elName</span>.getCssValue()</code></li>
					<li><code class="example"><span class="replace">elName</span>.getAttribute('<span class="replace">value</span>')</code></li>
					<li><code class="example"><span class="replace">elName</span>.isDisplayed()</code> (promise)</li>
					<li><code class="example"><span class="replace">elName</span>.isPresent()</code></li>
					<li><code class="example"><span class="replace">elName</span>.getLocation()</code><br>relative to left corner of screen</li>
				</ul>
				<h6>Matchers</h6>
				<ul>
					<li>toBe()</li>
					<li>toEqual()</li>
					<li>toContain()</li>
					<li>toMatch()</li>
					<li>toBeTruthy()</li>
					<li>toBeGreaterThan()</li>
					<li>toBeDefined()</li>
				</ul>
			</aside>
			</article>
			<!-- Loading footer with AJAX -->
			<div class="footerPlaceholder"></div>
		</div>
		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<!-- endbower -->
		<!-- endbuild -->
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		<!-- build:js scripts/plugins.js -->
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
		<!-- endbuild -->
		<!-- build:js({app,.tmp}) scripts/main.js -->
		<script src="../scripts/main.js"></script>
		<!-- endbuild -->
		<!-- My Scripts -->
		<script src="../includes/nav.js"></script>
		<script src="../includes/footer.js"></script>
		<script src="../scripts/proScrollAsideFixed.js"></script>
	</body>
</html>