<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>Selenium Notes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="../favicon.ico">
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="../styles/main.css">
		<!-- endbuild -->
		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="../bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>
	<body class="selenium-body">
		<!-- Loading the header with javascript include.  Should add a switch for html5 import -->
		<div class="navPlaceholder"></div>
		<!--[if lt IE 10]>
										<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="container">
			<div>
				<div class="jumbotron">
					<h1>Selenium Notes</h1>
					<p class="lead">"The best thing about the future is that it comes one day at a time." - Abraham Lincoln</p>
				</div>
			</div>
			<article>
			<div id="selenium-commands" class="visible">
			<div class="full">
				<h2> Selenium Javascript Web Driver </h2>
				<h6>Locators</h6>
				<ul>
					<li><span class="example">browser.driver.findElem&shy;ent(by.id('<span class="replace">signIn</span>'));</span></li>
					<li><span class="example">browser.driver.findElem&shy;ent(by.partialLinkText('<span class="replace">signIn</span>'));</span></li>
					<li><span class="example">browser.driver.findElem&shy;ent(by.css('<span class="replace">signIn</span>'));</span></li>
					<li><span class="example">browser.driver.findElem&shy;ent(by.className('<span class="replace">signIn</span>'));</span></li>
					<li><span class="example">browser.driver.findElem&shy;ent(by.name('<span class="replace">signIn</span>'));</span></li>
					<li><span class="example">browser.driver.findElem&shy;ent(by.xpath('<span class="replace">signIn</span>'));</span></li>
				</ul>
				<p> Here are some useful commands that you've had to use in Jasmine or Protractor:</p>
				<ul>
					<li><span class="example">browser.driver.isElementPresent(by.css('<span class="replace">img .new</span>'))</span></li>
					<li><span class="example">browser.driver.manage().dele&shy;teCookie('<span class="replace">loggedin</span>');</span></li>
					<li><span class="example">browser.driver.manage().dele&shy;teAllCookies();</span></li>
					<li><span class="example">browser.executeScript('wind&shy;ow.localStorage.clear();');</span></li>
					<li><span class="example">browser.get('<span class="replace">http:www.exa&shy;mple.com</span>');</span></li>
					<li>A wait command: <br>
						<div class="example2">
							browser.driver.wait(function() { <br>
							&nbsp;&nbsp;console.log(&quot;<span class="replace">Message to log while.</span>&quot;);<br>
							&nbsp;&nbsp;return browser.driver.isElemen&shy;tPresent(by.name('<span class="replace">acco&shy;unt-test@test.com</span>')).then(fun&shy;ction(el) { <br>
							&nbsp;&nbsp;&nbsp;&nbsp;return el === true; <br>
							&nbsp;&nbsp;}); <br>
							}, <span class="replace">5000</span>) <br>
							&nbsp;&nbsp;.then(function() { <br>
							&nbsp;&nbsp;&nbsp;&nbsp; <span class="replace">yourFunction()</span>;<br>
							});<br>
						</div></li>
					</ul>
					<p>Send Keys should work as followed but I'm having trouble with special keys, I've also tried sending browser.driver.Keys.Return.</p>
					<ul>
						<li><span class="example">browser.driver.<span class="replace">elementName</span>.sendKeys('<span class="replace">TextToSend</span>');</span></li>
						<li><span class="example">browser.driver.<span class="replace">elementName</span>.sendKeys(<span class="replace">Keys.RETURN</span>);</span></li>
					</ul>
				</div>
				<!-- 			<aside>
						<div>
								<h6> Selenium Commands </h6>
								<ul>
										<li><h6> Header </h6></li>
										<li><h6> Article </h6></li>
										<li><h6> Aside </h6></li>
										<li><h6> Footer </h6></li>
								</ul>
								<h6> Tags </h6>
						</div>
				</aside> -->
				</div>
				<div id="selenium-super-simple" class="visible">
				<div class="full">
					<p>This is the most basic starting point for testing in Selenium.</p>
					<h3>Quick Install</h3>
					<p>To get around an OS X El Capitan Permissions issue we need to install a version of python through <a href="http://brew.sh/" target="_blank">homebrew</a> (this may cause issues with NPM later though).</p>
					<code span class="example2">
						brew update &amp;&amp; brew upgrade<br>
						brew install python<br>
						hash -r python<br>
						pip install selenium<br>
						pip install nose<br>
					</code>
					<p>Then you can simply run tests with the <span class="example">nosetests --processes=10  --process-timeout=3600</span>. You can run a single file with <span class="example">python path/to/file/file_name.py</span>. You can run a specfic set of tests with <span class="example">nosetests --tests=example_1_test,example_2_test</span>. When naming files keep in mind that you should end file names with test, nosetests can be picky about filenames especially if they start with test.</p>
					<p>Here is an <a href="./examples/python-selenium-examples/simple/simple_carousel_test.py" target="_blank">example</a> of a really simple test.</p>
					<p>Useful documentation can be found <a href="http://selenium-python.readthedocs.io/" target="_blank">here</a> and <a href="http://www.seleniumhq.org/docs/" target="_blank">here</a>.</p>
				</div>
				</div>
				<div id="selenium-grid" class="visible">
				<div class="full">
					<p>This is a setup where the browsers can be configured in the globes.py file and multiple browsers can be tested at the same time using selenium grid.</p>
					<h3>Install</h3>
					<code span class="example2">
						sudo npm install selenium-standalone@latest -get
						sudo selenium-standalone install
						pip install nose
					</code>
					<h3>Running</h3>
					<p>Start a hub in terminal.</p>
					<div class="example2">
						selenium-standalone start -- -role hub
					</div>
					<p>In another tab of terminal register you local mac</p>
					<div class="example2">
						selenium-standalone start -- -role node -hub http://localhost:4444/grid/register -port 5556 -maxSessions 31 -browser browserName=firefox,javascriptEnabled=true,maxInstances=10,platform=ANY -browser browserName=chrome,javascriptEnabled=true,maxInstances=10,platform=ANY -browser browserName=safari,javascriptEnabled=true,maxInstances=10,platform=ANY
					</div>
					<p>In you want to run tests off a virtualbox as well register another hub.</p>
					<div class="example2">
						selenium-standalone start -- -role node -hub http://<span class="replace">[YOUR COMPUTERS IP ADDRESS]</span>:4444/grid/register -port 5557 -maxSessions 6 -browser browserName="internet explorer",javascriptEnabled=true,maxInstances=3,version=<span class="replace">9</span>,platform=ANY
					</div>
					<p>Then you can simply run tests with the <span class="example">nosetests --processes=10  --process-timeout=3600</span>. You can run a single file with <span class="example">python path/to/file/file_name.py</span>. You can run a specfic set of tests with <span class="example">nosetests --tests=example_1_test,example_2_test</span>. When naming files keep in mind that you should end file names with test, nosetests can be picky about filenames especially if they start with test.</p>
					<p>Here is an <a href="./examples/python-selenium-examples/simple/simple_carousel_test.py" target="_blank">example</a> of a really simple test.</p>
				</div>
				</div>
				</article>
				<!-- Loading footer with AJAX -->
				<div class="footerPlaceholder"></div>
			</div>
			<!-- build:js scripts/vendor.js -->
			<!-- bower:js -->
			<script src="../bower_components/jquery/dist/jquery.js"></script>
			<!-- endbower -->
			<!-- endbuild -->
			<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
			<script>
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');
			</script>
			<!-- build:js scripts/plugins.js -->
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
			<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
			<!-- endbuild -->
			<!-- build:js({app,.tmp}) scripts/main.js -->
			<script src="../scripts/main.js"></script>
			<!-- endbuild -->
			<!-- myScripts -->
			<script src="../includes/nav.js"></script>
			<script src="../includes/footer.js"></script>
		</body>
	</html>