<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>SQLMap Notes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="../favicon.ico">
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="../styles/main.css">
		<!-- endbuild -->
		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="../bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>
	<body class="sqlmapBody">
		<!-- Loading the header with javascript include.  Should add a switch for html5 import -->
		<div class="navPlaceholder"></div>
		<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="container-fluid">
			<div>
				<div class="jumbotron">
					<h1>SQLMap</h1>
				</div>
			</div>
			<article>
			<div class="main">
				<h3>Introduction</h3>
				<p>SQLMap is a penetration testing tool run out of Terminal.  You don't need <a href="http://portswigger.net/burp/download.HTML" target="_blank">Burpsuite Free Edition</a> to run it, but it does simplify the process.  To follow these instructions you will need Burpsuite Free, Firefox &amp; a code editor.</p>
				<h3>Basic Attack Instructions</h3>
				<p>These are steps for a basic banner attack.  Banner will just fetch you basic information about the database, but if the any of the attacks that banner triggers works you can take the information learned from in and use it to launch other attacks, that the site will likely be vulnerable to if this attack succeeded.
				</p>
				<ol>
					<li>Download SQLMap</li>
					<li>Open Terminal</li>
					<li>In terminal, Type <code class="example">cd <span class="replace">path/to/sqlmap</span></code></li>
					<li>To see SQL Map commands, Type <code class="example">./sqlmap.py -h</code></li>
					<li>Open Firefox</li>
					<li>Navigate to a form you'd like to try injecting into</li>
					<li>Open Preferences</li>
					<li>Select the Advanced Menu and the Network tab inside it</li>
					<li>Use the Connection Settings button</li>
					<li> Switch to Manual proxy configuration with the following settings
						<ul>
							<li>HTTP Proxy 127.0.0.1</li>
							<li>Port: 8080</li>
							<li>Check Use this proxy server for all protocols</li>
						</ul>
					</li>
					<li>Select OK and exit preferences</li>
					<li>Open Burpsuite Free</li>
					<li>Select the Proxy Tab</li>
					<li>Turn Intercept On</li>
					<li>Return to Firefox and submit the form with anything typed into the field</li>
					<li>Return to BurpSuite and copy all of the text in the RAW tab, seen below<br>
						<img src="../images/SQLMap/BS1.png"  alt="Burp Suite Proxy" title="Burp Suite Proxy Intercept" />
					</li>
					<li>Open your text editor and paste the text from step 16</li>
					<li>Save the file with the extension .request.php</li>
					<li>Return to Terminal and enter the following text: <code class="example">cat <span class="replace">[drag file from step 18 into terminal]</span></code></li>
					<li>Then enter the following text: <code class="example">./sqlmap.py -r <span class="replace">[drag file from step 18]</span> --banner</code></li>
					<li>Navigate through the prompts using common sense. </li>
					<li>If any vulnerabilities are detected you will receive a message like this:<br>
						<img src="../images/SQLMap/BS2.png"  alt="SQL Map Message 2" title="SQL Map Message 2" /><br>
						If you get this, that's basically all we need to know, this should be sufficient to know you should fix the vulnerability.  These steps will continue just in case you need to prove that you can gain valuable data.
					</li>
					<li>Select the desired field to try to gain the information (i.e. enter 0 or 1 then hit return).</li>
					<li>If successful you'll get a message like this:<br>
						<img src="../images/SQLMap/BS3.png"  alt="SQL Map Message 3" title="SQL Map Message 3" /><br>
					</li>
				</ol>
				<p>
				If this didn't get you through you can try increasing the level, risk and/or increasing the time for time-based attacks.  This test can take several hours,but the command in step 20 would be changed to something like:<br>
				<span class="example">
				./sqlmap.py - r <span class="replace">[drag file from step 18]</span> --level=5 --risk=3 --time-sec=15 --banner
				</span>
				</p>
				<h3>Getting Information from a DB</h3>
				<p>
				These are loose instructions on how to gain valuable data after successfully completing a --banner or -fingerprint test.
				</p>
				<ol>
					<li>Enter the following: <code class="example">./mysql.py -r <span class="replace">[File saved from Burp]</span> --dbms=<span class="replace">[Db type from banner test]</span> --dbs</code></li>
					<li>Use the Injection Points you're presented with and it should present something like this.<br>
						<img src="../images/SQLMap/BS4.png"  alt="SQL Map Message 4" title="SQL Map Message 4" />
					</li>
					<li>User -D to lock in a database from step 2.  In my example I'm using the database named 'nowasp'. Also add --tables to the end of the line.<br>
						<code class="example">./mysql.py -r <span class="replace">[FIle save from Burp]</span> --dbms=<span class="replace">[Db type from banner test]</span> -D <span class="replace">nowasp</span> --tables</code>
					</li>
					<li>Once again use the Injection points available until you get the available tables.<br>
						<img src="../images/SQLMap/BS5.png"  alt="SQL Map Message 5" title="SQL Map Message 5" />
					</li>
					<li>Use -T to lock in a table from step 4.  Also add --columns to the end of the line.<br>
						<code class="example">./mysql.py -r <span class="replace">[FIle save from Burp]</span> --dbms=<span class="replace">[Db type from banner test]</span> -D <span class="replace">nowasp</span> -T <span class="replace">user</span> --columns</code>
					</li>
					<li>Now use the injection options until you get the columns from the db.<br>
						<img src="../images/SQLMap/BS6.png"  alt="SQL Map Message 6" title="SQL Map Message 6" />
					</li>
					<li>From the Columns in the above table, I'm interested in 'is_admin', 'password', and 'username'.  I'm going to Select all three columns with '-C', then dump the columns to me.<br>
						<code class="example">./mysql.py -r <span class="replace">[FIle save from Burp]</span> --dbms=<span class="replace">[Db type from banner test]</span> -D <span class="replace">nowasp</span> -T <span class="replace">user</span> -C <span class="replace">is_admin</span>,<span class="replace">password</span>,<span class="replace">username</span> --dump</code>
					</li>
					<li>
						Don't follow the redirect if you get one.   If you plan on cracking the password using another program select Yes, No at the prompts.   If you want to take a shot at using SQLMap's dictionary to decrypt them select N,Y,N.  You may get a warning if it has trouble counting the records, you may need to give it a pivot point with a column from the database.  PHP knowledge is probably necessary to get around this.  But you could try the query from the video I watched (<code class="example">./mysql.py -r <span class="replace">[File save from Burp]</span> --dbms=<span class="replace">[Db type from banner test]</span> -D <span class="replace">nowasp</span> -T <span class="replace">user</span> --sql-query="<span class="replace">SELECT User,Password FROM mysql.user ORDER BY Desc</span>"</code>).<br>
						<img src="../images/SQLMap/BS7.png"  alt="SQL Map Message 7" title="SQL Map Message 7" />
					</li>
					<li>If you can't decrypt the password in SQLMap you may want to try <a href="http://www.openwall.com/john/" target="_blank">John The Ripper</a>.</li>
				</ol>
				<h3>Wizard</h3>
				<p>If the above instructions aren't working you can always try using the Wizard to walk you through an attack. <code class="example">./sqlmap.py --wizard</code></p>
				<h3>Tips</h3>
				<ul>
					<li>Sometimes you may want to add <code class="example">--dbms=<span class="replace">[dbtype]</span></code>to your attacks.  Often this information can be found with Force Browse anyway, or the hacker could take a blind guess at it. You already know the info, so it's worth a shot.
						<ul><li>e.g. <code class="example">./sqlmap.py - r <span class="replace">[file name]</span> --banner --dbms=<span class="replace">mysql</span></code></li></ul>
					</li>
					<li>If you get in with a banner attack, try checking the current user, if the Server is running as Admin you already have the keys to the castle.</li>
					<li>41 Character Password is CHA1, which is mysql.  Oracle will have 40.</li>
					<li>If only input is a Django blocked CMS, this doesn't seem to be able to break through it, using the tests specified above.</li>
				</ul>
			</div>
			</article>
			<!-- Loading footer with AJAX -->
			<div class="footerPlaceholder"></div>
		</div>
		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<!-- endbower -->
		<!-- endbuild -->
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		<!-- build:js scripts/plugins.js -->
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
		<script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
		<!-- endbuild -->
		<!-- build:js({app,.tmp}) scripts/main.js -->
		<script src="../scripts/main.js"></script>
		<!-- endbuild -->
		<!-- myScripts -->
		<script src="../includes/nav.js"></script>
		<script src="../includes/footer.js"></script>
	</body>
</html>